body {
	font-family: Palatino, 'Palatino Linotype', serif;
	color: white;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	font-size: 100%;

	
	
	
}





h1 {
	padding: 60px;
	font-size: 40px;
	/*background-image: url('titlebaro.jpg');*/
	background-position: center top;
	background-size: cover;
}


h3 {
	padding: 60px;
	font-size: 40px;
	/*background-image: url('titlebaro.jpg');*/
	float: left;
	background-size: cover;
}

h2 {
	margin-bottom: 100px;
	color: 000000;
	font-size: 1.5em; 
	display: block;

}

a {
	display: block;
	padding: 20px;
	margin: 10px;
	text-decoration: none;
	color: black;
}

a.two {
	display: block;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: blue;
}


.hero {
	background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg');
	background-position: center top;
	background-size: cover;
	padding: 250px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}


p {
	color: #000000;
	margin-right: 160px;
	margin-left: 160px;
	margin-bottom: 100px;
	background-color: #FFFFFF;
	padding: 0.5em 1em;
	box-decoration-break: clone;
	opacity: 0.3;
	font-style: normal;
	font-size: 1.5em;
	font-weight: bold;

}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

footer {

	margin-top: 100px;
	color: DarkSlateGray;
	font-size: 16px;
	background-image: url('footbaro.jpg');
	text-decoration: none;

}

.contact-btn {
	float: center;
}

.contact-btn a {
	cursor: pointer;
	margin-right: 600px;
	margin-left: 600px;
	padding: 8px 18px;
	border: 1px solid #204156;
	position: relative;

}

.contact-btn a:active {
	top: 2px;

}

img.one {
	
	margin: 10px;
	width:120px;
	height:120px;
}

img.four {
	
	float: center;
	width:750px;
	height:562.5px;

	
}

img.five {
	
	position: absolute;
	top: 800px;
	right: 800px;
	width:60px;
	height:60px;

	
}

img.six {
	
	position: absolute;
	top: 800px;
	right: 700px;
	width:60px;
	height:60px;

	
}
img.seven {
	
	position: absolute;
	top: 800px;
	right: 600px;
	width:60px;
	height:60px;

	
}

img.three {
	position: absolute;
	top: 400px;
	right: 400px;
}




img.two {
	margin: 10px;

}

.floated_img
{
	float: left;
	max-width: 480px;
	max-height: 650px;
}

img.free {
	float: center;

}

/**
 * Position icons into circle (SO)
 * http://stackoverflow.com/q/12813573/1397351 
 */
 .circle-container {
 	position: absolute;
 	width: 24em;
 	height: 24em;
 	padding-top: 5em;
 	padding-left: 60em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
 	/*border: dashed 1px;*/
 	border-radius: 50%;
 	margin: 4.00em auto 0;
 }
 .circle-container a {
 	display: block;
 	overflow: hidden;
 	position: absolute;
 	top: 50%; left: 50%;
 	width: 7em; height: 7em;
 	margin: -2em; /* 2em = 4em/2 */ /* half the width */
 }
 .circle-container img { display: block; width: 100%; }
 .deg0 { transform: translate(20em); } /* 12em = half the width of the wrapper */
 .deg36 { transform: rotate(36deg) translate(20em) rotate(-36deg); }
 .deg72 { transform: rotate(72deg) translate(20em) rotate(-72deg); }
 .deg108 { transform: rotate(108deg) translate(20em) rotate(-108deg); }
 .deg144 { transform: rotate(144deg) translate(20em) rotate(-144deg); }
 .deg180 { transform: translate(-20em); }
 .deg216 { transform: rotate(216deg) translate(20em) rotate(-216deg); }
 .deg252 { transform: rotate(252deg) translate(20em) rotate(-252deg); }
 .deg288 { transform: rotate(288deg) translate(20em) rotate(-288deg); }
 .deg324 { transform: rotate(324deg) translate(20em) rotate(-324deg); }
 .deg360 { transform: rotate(360deg) translate(20em) rotate(-360deg); }

 /* this is just for showing the angle on hover */
 .circle-container a:not(.center):before {
 	position: absolute;
 	width: 4em;
 	color: white;
 	opacity: 0;
 	background: rgba(0,0,0,.5);
 	font: 1.25em/3.45 Courier, monospace;
 	letter-spacing: 2px;
 	text-decoration: none;
 	text-indent: -2em;
 	text-shadow: 0 0 .1em deeppink;
 	transition: .7s; /* only works in Firefox */
 	content: attr(class)'°';
 }
 .circle-container a:hover:before { opacity: 1; }

 /* this is for showing the circle on which the images are placed */
 .circle-container:after {
 	position: absolute;
 	top: 2.8em; left: 2.8em;
 	width: 24em; height: 24em;
 	/*border: dashed 1px deeppink;*/
 	border-radius: 50%;
 	opacity: .3;
 	pointer-events: none;
 	content: '';
 }
 .circle-container:hover:after { opacity: 1; }
 .circle-container a:not(.center):after {
 	position: absolute;
 	top: 50%; left: 50%;
 	width: 4px; height: 4px;
 	border-radius: 50%;
 	box-shadow: 0 0 .5em .5em white;
 	margin: -2px;
 	background: deeppink;
 	opacity: .3;
 	/*content: '';*/
 }
 .circle-container:hover a:after { opacity: 1; }
 .circle-container a:hover:after { opacity: .3; }

 /*     <a href='#' class='center'><img src='I.png'></a> */

